# Secrets
.env
catman_parent_id.sql
tech_parent_ids.sql
arborescence_parent_ids.sql
# Airflow runtime
logs/
tmp/
.history/

# Python
__pycache__/
*.pyc

# Test / local
test/

# OS
Thumbs.db
.DS_Store
